<div class = head>
  <div class = title>
    <a href = "/" class = btn>
      川柳縛り
    </a>
  </div>
  <div class = icon>
    <div class = icon1>
      <a href="/users/:id/edit" class = btn>ユーザー編集</a>
    </div>
    <div class = icon2>
      <a href="/posts/new" class = btn>チャットお題作成</a>
    </div>
    <div class = icon3>
      <a href="/texts/new" class = btn>今日の川柳投稿</a>
    </div>
  </div>
</div>

<div class = sidehead>
  <ul class = dropdwn>
    <li>川柳チャット
      <ul class="dropdwn_menu">
        <li><a href="/posts"class = btn>新着順</a></li>
        <li><a href="/posts/:id/edit"class = btn>ランキング</a></li>
        <li><a href="/posts/new"class = btn>お題投稿</a></li>
      </ul>
    </li>
    <li>今日の川柳
      <ul class="dropdwn_menu">
        <li><a href="/texts"class = btn>新着順</a></li>
        <li><a href="/texts/:id/edit"class = btn>ランキング</a></li>
        <li><a href="/texts/new"class = btn>川柳投稿</a></li>
      </ul>
    </li>
    <li>ランキング
      <ul class="dropdwn_menu">
        <li><a href="/posts/:id/edit"class = btn>川柳チャット</a></li>
        <li><a href=" /texts/:id/edit"class = btn>今日の川柳</a></li>
      </ul>
    </li>
    <li>ゲーム
      <ul class="dropdwn_menu">
        <li><a href="/users"class = btn>タイピング</a></li>
        <li><a href="/texts/:text_id/iines"class = btn>クイズ</a></li>
      </ul>
    </li>
    <li>ユーザー
      <ul class="dropdwn_menu">
        <li><a href="/users/:id/edit"class = btn>編集</a></li>
        <li><a href="/"class = btn>詳細</a></li>
        <li><a href="/"class = btn>ログアウト</a></li>
      </ul>
    </li>
  </ul>
</div>



<div id="quiz">
  <section id="container">
    <p id="question"></p>
    <div id="choices"></div>
    <div id="btn" class="disabled">Next</div>
  </section>
  <section id="result" class="hidden">
    <p></p>
    <a href="">Replay?</a>
  </section>
  <script>
    'use strict';

{
  const question = document.getElementById('question');
  const choices = document.getElementById('choices');
  const btn = document.getElementById('btn');
  const result = document.getElementById('result');
  const scoreLabel = document.querySelector('#result > p');

  const quizSet = shuffle([
    {q: 'Amazonの創設者は？' , c: ['ジェフ・ベゾス', 'イーロン・マスク', 'ラリー・ペイジ']},
    {q: 'スクロールしても上部に固定されるCSSは？' , c: ['position: fixed;', 'position: absolute;', 'position: static;']},
    {q: 'Rubyの開発者は？' , c: ['まつもとひろゆき', 'グイド・ヴァンロッサム', 'ラリー・ウォール']},
    {q: 'iOSのアプリ開発に使われる言語は？' , c: ['Swift', 'Twist', 'iLanguage']},
    {q: 'Webページで「&」と表示されるのは？' , c: ['&amp;', '&gt;', '&nbsp;']},
  ]);
  let currentNum = 0;
  let isAnswered;
  let score = 0;

  

  function shuffle(arr) {
    for (let i = arr.length - 1; i > 0; i--) {
      const j = Math.floor(Math.random() * (i + 1));
      [arr[j], arr[i]] = [arr[i], arr[j]];
    }
    return arr;
  }

  function checkAnswer(li) {
    if (isAnswered ===true) {
      return;
    }
    isAnswered = true;
    if (li.textContent === quizSet[currentNum].c[0]) {
      li.classList.add('correct');
      score++;
    } else {
      li.classList.add('wrong');
    }

    btn.classList.remove('disabled');
  }

  function setQuiz() {
    isAnswered = false;

    question.textContent = quizSet[currentNum].q;

    while (choices.firstChild) {
      choices.removeChild(choices.firstChild);
    }

    const shuffledChoices = shuffle([...quizSet[currentNum].c]);
    console.log(quizSet[currentNum].c);
    shuffledChoices.forEach(choice => {
      const li = document.createElement('li');
      li.textContent = choice;
      li.addEventListener('click', () => {
        checkAnswer(li);
      });
      choices.appendChild(li);
    });

    if (currentNum === quizSet.length - 1) {
      btn.textContent = 'Show Score';
    }
  }

  setQuiz();

  btn.addEventListener('click', () => {
    if (btn.classList.contains('disabled')) {
      return;
    }
    btn.classList.add('disabled'); 

    if (currentNum === quizSet.length - 1) {
      //console.log(`Score: ${score} / ${quizSet.length}`);
      scoreLabel.textContent =`Score: ${score} / ${quizSet.length}`;
      result.classList.remove('hidden');
    } else {
      currentNum++;
      setQuiz();
    }
  });
}
  </script>
</div>



<div class = footer>
  <div class = foot>
    <a href="https://www.facebook.com/" class = face>
      <i class="fab fa-facebook-square"></i>
    </a>
    <a href="https://twitter.com/" class = twitter>
      <i class="fab fa-twitter-square"></i>
    </a>
    <a href="https://www.instagram.com/" class = insta>
      <i class="fab fa-instagram"></i>
    </a>
  </div>
</div>