.head
  .title
    川柳縛り  
  .icon
    .icon1
      = link_to edit_user_path(current_user) do
        = current_user.name
    .icon2
      新規登録

.sidehead
  .menu
    .menu1
      お題一覧
    .menu2
      今日の川柳
    .menu3
      ランキング
    .menu4
      川柳チャット

