.mainbody
  .mainbody__item
    .mainbody__item__title
      商品名
    .mainbody__item__description
      『"商品名"』は、**回の取引実績を持つ"出品者"さんから出品されました。"カテゴリ名"の商品で、”県名”から**日で発送されます。
    .mainbody__item__content
      .mainbody__item__content__image
        image
      .mainbody__item__content__post
        %table
          %tr
            %td 出品者
            %td.td "出品者名" "評価"
          %tr
            %td カテゴリー
            %td.td カテゴリー親+子+孫
          %tr
            %td ブランド
            %td.td "ブランド名"
          %tr
            %td 商品の状態
            %td "商品の状態"
          %tr
            %td 配送料の負担
            %td "送料込みor着払い"
          %tr
            %td 配送の方法
            %td "配送方法"
          %tr
            %td 発送元地域
            %td.td "県名"
          %tr
            %td 発送日の目安
            %td "**日で発送"
    .mainbody__item__pricebox
      .mainbody__item__pricebox__price
        ¥1,800
      .mainbody__item__pricebox__zei
        (税込)
      .mainbody__item__pricebox__soryo
        送料込み
    .mainbody__item__buybox
      購入画面に進む
    .mainbody__item__textbox
      中古品です。所々に破れがあります。問題なく音声を聴くことはできます。
      中古品であることにご理解頂ける方のみよろしくお願い致します。
    .mainbody__item__btnbox
      .mainbody__item__btnbox__iine
        <i class="far fa-heart"></i>
        いいね！
      .mainbody__item__btnbox__report
        <i class="far fa-flag"></i>
        不適切な商品の報告
      .mainbody__item__btnbox__anzen
        <i class="fas fa-lock"></i>
        あんしん・あんぜんへの取り組み

  .item-select
    .item-select__left
      ＜商品1
    .item-select__right
      商品2＞

  .iconbox
    .iconbox2
      .iconbox2__face
        <i class="fab fa-facebook-square"></i>
      .iconbox2__twitter
        <i class="fab fa-twitter-square"></i>
      .iconbox2__pinte
        <i class="fab fa-pinterest-square"></i>
      
  .usersitem
    .usersitem__select
      **さんのその他の出品

  .categoryitem
    .categoryitem__select
      "カテゴロー名"その他の出品
    
    
      
        