.footer
  .foot
    =link_to "https://www.facebook.com/", class: "face" do
      <i class="fab fa-facebook-square"></i>
    =link_to "https://twitter.com/", class: "twitter" do
      <i class="fab fa-twitter-square"></i>
    =link_to "https://www.instagram.com/",class: "insta" do
      <i class="fab fa-instagram"></i>