.head
  .title
    川柳縛り  
  .icon
    .icon1
      = link_to edit_user_path(current_user) do
        %div.link= current_user.name
    .icon2
      = link_to new_post_path(current_user) do
        お題投稿

.sidehead
  .menu
    .menu1
      お題一覧
    .menu2
      今日の川柳
    .menu3
      ランキング
    .menu4
      川柳チャット

