.main
  .maintitle
    お題一覧
    - @posts.each do |post|
      .contents
        = link_to  post_messages_path(post) do
          .content 
            = post.text
          .date
            = post.created_at  
          .text  
            OK

        
      

  