.main
  .maintitle
    お題一覧
    - @posts.each do |post|
      .contents
        .content 
          = post.text   
        .date
          = post.created_at  
        .text  
          OK

        
      

  