.footer {
  z-index: 1;
  position: fixed;
  background: black;
  height: 65px;
  width: 100%;
  bottom: 0;
}

.foot {
  text-align: center;
  line-height: 65px;
}

.face {
  font-size:40px;
  color:#fff;
  text-decoration: none;
  margin: 0 70px;
}
.twitter {
  font-size:40px;
  color:#fff;
  text-decoration: none;
  margin: 0 70px;
}
.insta {
  font-size:40px;
  color:#fff;
  text-decoration: none;
  margin: 0 70px;
}
