.head {
  background: black;
  height: 50px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Times New Roman", "游明朝", YuMincho,"ヒラギノ明朝 Pr6 W6","Hiragino Mincho Pro", "HGS明朝E","メイリオ", "ＭＳ Ｐ明朝","MS PMincho",Meiryo, serif;
  border-bottom: 1px solid white;
  z-index: 2;
  .title {
    display: flex;
    color: white;
    margin-top: 10px;
    font-size: 20px;
    padding: 0 10px;
    .btn {
      text-decoration: none;
      color: white;
    }
  }
  .icon {
    color: white;
    display: flex;
    .icon1 {
      .btn {
        color: white;
        text-decoration-line: underline;
        text-decoration-color: black;
        border: 1px solid white;
        padding: 17px 10px;
        line-height: 50px;
        text-decoration: none;
      }
      .btn:hover {
        background-color: white;
        color: black;
      }
    }
  }
}


.dropdwn{
  z-index: 1;
  position: fixed;
  width: 100%;
  padding-top: 51px;
  display: flex;
  justify-content: space-evenly;
  background: black;
}

ul{
  text-align: center;
  list-style-type: none;
  color: #fff;
  margin: 0 auto;
  padding: 0;
}

li{
  max-width: calc(1450px/5);
  width: 100%;
  position: relative;
  padding: 5px;
  display: block;
  cursor: pointer;
}



.dropdwn>li{
  margin: 1px;
  background: black;
  display: inline;
}

.dropdwn_menu{
  width: 100%;
  display: none;
  position: absolute;
  margin-left: -5px;
  margin-top: 5px;
  padding: 0;
  background: black;
}

.dropdwn_menu li{
  width: 100%;
}

.dropdwn_menu li a{
  padding: 2px 0;
  margin: -5px 5px -5px -5px;
  display: block;
  color: #fff;
}

li a:hover{
  background: #b3d7ff;
  color: rgb(65, 65, 65);
}

.btn {
  text-decoration: none;
  color: #fff;
}