.main {
  background-image: url(https://www.pakutaso.com/shared/img/thumb/pp_hamon_TP_V.jpg);
  height: calc(100vh - 81px);
  padding-top: 81px;
  text-align: center;
  .maintitle {
    padding-top: 10px;
    font-style: bold;
    font-size: 30px;
  }
  .contents {
    background: white;
    border: 2px solid silver;
    border-radius: 4px;   
    margin: 20px 250px;
    .content {
      border-radius: 4px;   
      font-size: 25px;
    }
    .date {
      font-size: 5px;
      border-bottom: 2px solid silver;
    }
    .text {
      font-size: 20px;
    }
  }
}