.main {
  background-image: url(https://www.pakutaso.com/shared/img/thumb/pp_hamon_TP_V.jpg);
  padding-top: 81px;
  text-align: center;
  height: 100%;
  .maintitle {
    padding-top: 10px;
    font-style: bold;
    font-size: 30px;
  }
  .contents {
    background: white;
    border: 2px solid silver;
    border-radius: 4px;   
    margin: 0 250px;
    margin-top: 20px;
    .content {
      border-radius: 4px;   
      font-size: 25px;
    }
    .date {
      font-size: 5px;
      border-bottom: 2px solid silver;
    }
    .coment {
      font-size: 20px;
    }
    .text {
      font-size: 15px;
    }
    .delete {
      font-size: 15px;
    }
    .like {
      font-size: 15px;
    }
  }
}