.main {
  background-image: url(https://www.pakutaso.com/shared/img/thumb/pp_hamon_TP_V.jpg);
  background-size: cover;
  padding-top: 100px;
  text-align: center;
  background-attachment: fixed;
  height: 100%;
  .maintitle {
    padding-top: 10px;
    font-style: bold;
    font-size: 30px;
    padding-bottom: 150px;
  }
  .contents {
    background: white;
    opacity: 85%;
    border: 2px solid silver;
    border-radius: 4px;   
    margin: 20px auto;
    width: min(900px, 100%);
    .content {
      border-radius: 4px;   
      font-size: 25px;
      border-bottom: 2px solid silver;
    }
    .date {
      font-size: 5px;
      border-bottom: 2px solid silver;
    }
    .coment {
      font-size: 25px;
    }
    .text {
      font-size: 15px;
    }
    .delete {
      font-size: 15px;
    }
    .like {
      font-size: 15px;
    }
  }
}