.messages {
  background-image: url(https://www.pakutaso.com/shared/img/thumb/pp_hamon_TP_V.jpg);
  background-attachment: fixed;
  box-sizing: border-box;
  height: calc(100vh - 81px);
  text-align: center;
  padding-top: 100px;
  overflow: scroll;
  &_title{
    font-size: 30px;
  }
  .message {
    .upper-message {
      background: white;
      opacity: 85%;
      border: 2px solid silver;
      border-radius: 4px;   
      margin: 20px 250px;
      .lower-message {
        margin-top: 10px;
        color: black;
        font-size: 20px;
        }
      &__user-name {
        color: black;
        font-size: 5px;
        font-weight: bold;
      }
      &__date {
        color: silver;
        font-size: 5px;
      }
    }
  }
}

.form {
  bottom: 0;
  position: fixed;
  background-color: black;
  box-sizing: border-box;
  height: 90px;
  padding: 20px 50px 20px 40px;
  width: 100%;
  &__message{
    display: flex;
    &__text {
      border: none;
      height: 50px;
      padding: 0 10px;
      width: 100%;
      margin: 0 10px;
    }
  }
  &__submit {
    background-color: white;
    border: none;
    color: black;
    float: right;
    font-size: 16px;
    height: 50px;
    margin-left: 15px;
    padding: 0 30px;
  }
}
