.single-header2 {
  height: 128px;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  display: block;
  background: whitesmoke;
  &__title {
    margin-left: 400px;
  }
}

.select2 {
  display: block;
  margin: 0;
  padding: 0;
  background: whitesmoke;
  height: calc(100vh - 128px);
  .select2-content {
    width: 700px;
    margin: 0 auto;
    background: white;
    text-align: center;
  }
}



.single-footer {
  background: whitesmoke; 
  height: 330px;
  text-align: center;
  margin: 0 auto;
  &__content {
    font-size: 15px;
    padding-top: 150px;
  }
  &__image {
   padding-top: 30px;
  }
}