#back {
  background-image: url(https://i.pinimg.com/originals/49/0b/3a/490b3ac70b55cb224894fd44f4163802.jpg);
  font-family: Verdana, sans-serif;
  padding-top: 81px;
}


#main {
  width: 600px;
  margin: 8px auto;
  background: #fff;
  border-radius: 4px;
  padding-top: 80px;
  position: relative;
  height: 588px;
  border: 2px solid #ccc;
  font-weight: bold;
  text-align: center;
}

#target {
  font-size: 48px;
  letter-spacing: 3px;
}

#info {
  color: #ccc;
}